<div>  
  <table class="table">
    <thead class="thead-dark">
      <tr scope="col">
        <th>Film Title</th>
        <th>Time Of Screening</th>
        <th>Pick time of screening</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of this.programme?.FilmScreenings'>
        <td>
          <button type="button" class="btn btn-outline-secondary" data-container="body" data-toggle="popover" 
          data-placement="right" popoverTitle="{{this.genre[item.Film.FilmGenre]}}" ngbPopover="{{item.Film.Summary}}" 
          triggers="mouseenter:mouseleave">
              {{item.Film.Title}}
          </button>
          </td>
        <td> {{this.getScreeningsTime(item)}}
        </td>
        <td>
          <div class="form-group">
            <div class="input-group">
              <select [(ngModel)]="this.chosenScreeningId">
                <option *ngFor="let prop of item.Screenings" [ngValue]="prop.Id" >
                  {{prop.TimeOfScreening | date :'hh:mm'}}
                </option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="this.buyTicket()">Buy a ticket</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>