<div>  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Film title</th>
        <th>Date of screening</th>
        <th>Cinema</th>
        <th>Seat</th>
        <th>Date of purchase</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of history.Results'>
        <td>{{item.FilmTitle}}</td>
        <td>{{item.ScreeningDateTime | date :'MMM dd yyyy hh:mm'}}</td>
        <td>{{item.CinemaName}}, {{item.CinemaAddress}}</td>
        <td>{{item.ClientSeat}}</td>
        <td>{{item.TimeOfPurchase | date :'MMM dd yyyy hh:mm'}}</td>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <div class="row">
      <div class="col"></div>
    <div class="row">
      <div class="col align-right">Page size</div>
      <div class="input-group-append col-sm">
        <input type="number" class="form-control" [(ngModel)]="this.history.PageSize">
        <button class="btn btn-outline-secondary" (click)="this.getHistoryPage('?pageSize=' + this.history.PageSize)" type="button">Refresh</button>
      </div>
    </div>
  </div>
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled':this.history.PrevPageAttributes === null}">
        <button class="page-link" (click)="this.showPrevPage()" tabindex="-1" aria-disabled="true">Previous</button>
      </li>
      <li class="page-item" *ngFor="let index of this.getPageIndexes()">
        <button class="page-link" (click)="this.goToPage(index)">{{index}}</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled':this.history.NextPageAttributes === null}">
        <button class="page-link" (click)="this.showNextPage()" tabindex="-1" aria-disabled="true">Next</button>
      </li>
    </ul>
  </nav>
</div>
