<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<div>  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Cinema</th>
        <th>City</th>
        <th>Address</th>
        <th>Find programme</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of this.cinemas'>
        <td>{{item.Name}}</td>
        <td>{{item.City}}</td>
        <td>{{item.Address}}</td>
        <td>
          <div class="col-sm">
            <form class="form-inline">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" 
                      [(ngModel)]="this.date" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" routerLink="/programme/{{item.Id}}/{{this.date | date: 'MMM-dd-yyyy' }}">Programme</button>
                </div>
              </div>
            </form>
          </div>
        </td>
      </tr>      
    </tbody>
  </table>
</div>
