<div>
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr scope="col">
          <th>Email</th>
          <th>Selected seats</th>
          <th>Confirm order</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <textarea class="form-control">{{this.userEmail}}</textarea>
          </td> 
          <td>
            <textarea class="form-control">{{this.seats.join(', ')}}</textarea>
          </td> 
          <td>
            <button type="button" class="btn btn btn-outline-secondary" (click)="this.makePurchase()">Buy tickets</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col input-group-append">
      <button type="button" class="btn btn btn-outline-secondary btn-block" (click)="this.showCinemaView()">Show cinema view</button>
      <input type="text" placeholder="e.g F14" class="form-control" [(ngModel)]="this.chosenSeat">
      <button type="button" class="btn btn btn-outline-secondary btn-block" (click)="this.addSeat(this.chosenSeat)">Add seat</button>
    </div>
    <div *ngIf="this.cinemaView" class="cinema-view">
    <div class="screen">Screen</div>
    <div class="btn-toolbar yyy" *ngFor='let row of this.auditorium.Rows'>
      <div class="btn-group mr-2 form-group " role="group" ngDefaultControl *ngFor='let seat of this.auditorium.SeatsInRow'>
        <button type="button" class="btn btn-secondary btn-sm group seat-view" ngDefaultControl (click)="this.addSeat(this.setSeat(row, seat))">{{row}}{{seat}}</button>
      </div>
    </div>
  </div>
</div>