.cinema-view {
  align-content: center;
  margin: 10px;
}

.btn-toolbar {
  justify-content: center;
}

.seat-view {
  width: 40px;
}

.screen {
  background-color: #BABABA;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 3px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}