<div>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col align-right">First Name</div>
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="this.firstName" (keydown)="this.registerOnEnter($event)">
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col align-right">Last Name</div>
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="this.lastName" (keydown)="this.registerOnEnter($event)">
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col align-right">Email</div>
      <div class="col">
        <input type="email" class="form-control" [(ngModel)]="this.email" (keydown)="this.registerOnEnter($event)">
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col align-right">Password</div>
      <div class="col">
        <input type="password" class="form-control" [(ngModel)]="this.password" (keydown)="this.registerOnEnter($event)">
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col align-right">Confirm password</div>
      <div class="col">
        <input type="password" class="form-control" [(ngModel)]="this.confirmPassword" (keydown)="this.registerOnEnter($event)">
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div style="text-align: center">
    <button type="button" class="btn btn btn-outline-secondary" (click)="this.performRegistration()">Register</button>
  </div>
</div>